body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color:rgb(250, 250, 250);
}

header {
  /*display: flex;
  flex-direction: row;*/
  justify-content: space-around;
  align-items: center;
  box-shadow: 1px 1px 3px #ccc;
  background-color: white;
  /*border-bottom: 1px solid black;*/
}

caption {
  margin-top: 50px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 1.6rem;
}

section {
  width: 100%;
  /*display: flex;*/
  justify-content: center;
  align-items: center;
}

strong {
  color: goldenrod;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  transition: 200ms;
  color: blue;
}

.navbar {
  list-style-type: none;
  float: right;
  /*display: table;
  flex-direction: row;*/
}

.logo {
  /*display: flex;
  flex-direction: column;*/
}

li {
  margin: 10px;
  display: inline
}


h1 {
  margin: 0;
  font-size: 1.7rem;
}

h2 {
  margin: 0;
  font-size: 0.9rem;
}

table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black;
  background-color: gold;
  text-align: center;
}

th {
  padding: 8px;
}

input {
  border: none;
  height: 30px;
}

img {
  max-height: 100px;
}

button {
  background-color: gold;
  cursor: pointer;
  border: none;
  width: 100%;
  height: 30px;
  padding: 4px;
}