body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color:rgb(250, 250, 250);
}

@media print {
  .orphans {
    orphans: 2;
    widows: 2;
  }
}

/* === Navigation === */

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 1px 1px 3px #ccc;
  background-color: white;
  page-break-after: always;
  padding: 15px;
  position: fixed;
  width: 100%;
}

#logo > h1 {
  margin: 0;
  font-size: 1.7rem;
}

#logo > h2 {
  margin: 0;
  font-size: 0.9rem;
  font-variant: small-caps;
}

nav {
  list-style: none;
  /*float: right;*/
  vertical-align: middle;
}

nav li {
  display: inline;
  margin: 15px;
}

a {
  text-decoration: none;
  color: black;
}

a:link { color: black; }
a:visited { color: blue; }
a:hover { 
  transition: 200ms;
  color: goldenrod; 
}
a:active { color: maroon; }

/* === Hero === */

#hero {
  height: 400px;
  width: 100%;
  background-image: url("https://wallpaperaccess.com/full/1843937.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 600px;
}

/* === Sections === */

section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  page-break-before: always;
  margin-top: 50px;
}

@media screen and (min-width: 850px) {
  #about > div {
    display: flex;
    flex-direction: row;
  }
}

@media screen and (max-width: 850px) {
  #featured > div {
    width: 100%;
    overflow-x: auto;
  }

  #employees > div {
    width: 100%;
    overflow-x: auto;
  }
  
  #about > div {
    display: flex;
    flex-direction: column;
    margin: 10px;
  }
}

caption {
  margin-top: 50px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 25px;
  text-transform: capitalize;
  font-style: oblique;
}

strong {
  color: goldenrod;
}

ol {
  text-indent: 5px;
  list-style-position: inside;
  list-style-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fupload.wikimedia.org%2Fwikipedia%2Fcommons%2Ff%2Ff8%2FFarm-Fresh_chinese_noodles.png&f=1&nofb=1");
  background: gold;
  margin-left: 5px;
  margin-right: 5px;
  padding: 10px;
}

/* === Tables === */

table {
  caption-side: top;
  margin: auto;
  width: 800px;
  overflow-x: scroll;
}

table, th, td {
  border-width: 1px;
  border-spacing: 5px;
  border-style: solid;
  border-color: black;
  text-align: center;
}

table td {
  font: 16px "Georgia", sans-serif;
  background-color: gold;
}

table th {
  padding: 8px;
  background-color: goldenrod;
}

input {
  border: none;
  height: 30px;
}

input:focus {
  border: 2px solid blue;
}

button {
  background-color: goldenrod;
  cursor: pointer;
  border: none;
  width: 100%;
  height: 30px;
  padding: 4px;
}

/* === Other === */

img {
  max-height: 100px;
}

/* === Footer === */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

footer > figure {
  text-align: center;
}

@media screen and (min-width: 850px) {
  footer img {
    width: 400px;
  }
}

@media screen and (max-width: 850px) {
  footer img {
    width: 250px;
  }
}