body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 50px;
}

table, th, td {
  border: 1px solid black;
  background-color: gold;
}

td {
  padding: 15px;
}

img {
  max-height: 100px;
}

button {
  background-color: white;
  border: none;
  width: 100%;
  padding: 4px;
}