body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 5px;
  padding: 0;
  background-color:rgb(250, 250, 250);
}

@media print {
  .orphans {
    orphans: 2;
    widows: 2;
  }
}

/* === Navigation === */

#logo {
  display: inline;
}

#logo > h1 {
  margin: 0;
  font-size: 1.7rem;
}

#logo > h2 {
  margin: 0;
  font-size: 0.9rem;
  font-variant: small-caps;
}

nav {
  list-style: none;
  float: right;
  vertical-align: middle;
}

nav li {
  margin: 0px 10px;
  display: inline;
}

a {
  text-decoration: none;
  color: black;
}

a:link { color: black; }
a:visited { color: blue; }
a:hover { color: red; }
a:active { color: goldenrod; }

header {
  justify-content: space-around;
  align-items: center;
  box-shadow: 1px 1px 3px #ccc;
  background-color: white;
  overflow: hidden;
  page-break-after: always;
}

/* === Hero === */

#hero {
  height: 400px;
  background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcmkt-image-prd.global.ssl.fastly.net%2F0.1.0%2Fps%2F3379856%2F1360%2F906%2Fm1%2Ffpnw%2Fwm1%2Fpfhgxchmb2ttmklouoabchtigsyma36lawo3w97ycjnyahr5vku9hequuk1beweg-.jpg%3F1507495665%26s%3D7b15527692314d3fc3a11d94a8c69a80&f=1&nofb=1");
  background-repeat: no-repeat;
  background-size: cover;
}

/* === Sections === */

section {
  width: 100%;
  justify-content: center;
  align-items: center;
  page-break-before: always;
}

caption {
  margin-top: 50px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 25px;
  text-transform: capitalize;
  font-style: oblique;
}

strong {
  color: goldenrod;
}

ol {
  text-indent: 5px;
  list-style-position: inside;
  list-style-image: url("https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fpng-5.findicons.com%2Ffiles%2Ficons%2F2222%2Fgloss_basic%2F32%2Fbullet_black.png&f=1&nofb=1");
  background: gold;
  margin-left: 5px;
  margin-right: 5px;
}

/* === Tables === */

table {
  caption-side: top;
  margin: auto;
}

table, th, td {
  border-width: 1px;
  border-spacing: 0px;
  border-style: solid;
  border-color: black;
  background-color: gold;
  text-align: center;
}

table td {
  font: 16px "Georgia", sans-serif;
}

th {
  padding: 8px;
}

input {
  border: none;
  height: 30px;
}

input:focus {
  border: 2px solid blue;
}

button {
  background-color: gold;
  cursor: pointer;
  border: none;
  width: 100%;
  height: 30px;
  padding: 4px;
}

/* === Other === */

img {
  max-height: 100px;
}