body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color:rgb(250, 250, 250);
}

header {
  justify-content: space-around;
  align-items: center;
  box-shadow: 1px 1px 3px #ccc;
  background-color: white;
  overflow: hidden;
}

#header {
  height: 400px;
  background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcmkt-image-prd.global.ssl.fastly.net%2F0.1.0%2Fps%2F3379856%2F1360%2F906%2Fm1%2Ffpnw%2Fwm1%2Fpfhgxchmb2ttmklouoabchtigsyma36lawo3w97ycjnyahr5vku9hequuk1beweg-.jpg%3F1507495665%26s%3D7b15527692314d3fc3a11d94a8c69a80&f=1&nofb=1");
  background-repeat: no-repeat;
}

caption {
  margin-top: 50px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 1.6rem;
}

section {
  width: 100%;
  justify-content: center;
  align-items: center;
}

strong {
  color: goldenrod;
}

a {
  color: black;
}

a:hover {
  color: red;
}

a:visited {
  color: blue;
}

a:link {
  color: black;
}

a:active {
  color: goldenrod;
}

input:focus {
  border: 2px solid blue;
}

nav {
  list-style-type: none;
  float: right;
}

.logo {
  display: inline-block;
}

li {
  margin: 0px 10px;
  display: inline;
}


h1 {
  margin: 0;
  font-size: 1.7rem;
}

h2 {
  margin: 0;
  font-size: 0.9rem;
}

table, th, td {
  border-width: 1px;
  border-spacing: 0px;
  border-style: solid;
  border-color: black;
  background-color: gold;
  text-align: center;
}

th {
  padding: 8px;
}

input {
  border: none;
  height: 30px;
}

img {
  max-height: 100px;
}

button {
  background-color: gold;
  cursor: pointer;
  border: none;
  width: 100%;
  height: 30px;
  padding: 4px;
}