body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 50px;
}

table, th, td {
  border: 1px solid black;
  background-color: gold;
  text-align: center;
}

td {
  padding: 5px;
}

img {
  max-height: 100px;
}

button {
  background-color: gold;
  cursor: pointer;
  border: none;
  width: 100%;
  padding: 4px;
}